.mobile-btn-icon svg {
  // display: none;
  width: 100% !important;
}

.mobile-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 760px) {
    display: block;
  }
  
}

/*.mob-btn {
   max-width: 180px;
    min-width: 160px;
    min-height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
  
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
  
    border: 1px solid #2196f3;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
  
    transition: background-color var(--anim-fast);
}
    .btn:hover,
    .btn:focus {
      background-color: var(--accent-bg-cl);
    }
*/

.mob-link {
  text-decoration: none;
  color: currentColor;
}

/*.mobile_menu-fut {
  margin-top: 100px;
  margin-bottom: 50px;*/


.mobile_menu-fut a {
  font-size: 34px;
  color: #2196f3;

}
.mobile_menu-fut-last a {
  color: #757575;
  font-size: 24px;

}
 

.mob-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mobile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  // max-width: 337px;
  height: inherit;
  // margin-left: auto;
  padding: 120px 40px 50px 40px;
  background-color: #fff;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform 100ms;

  /*.backdrop--hidden & {
    // transform: translateX(100%);
  }*/
}

.mobile-menu-btn {
  position: absolute;
  top: 48px;
  right: 31px;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  /*margin-bottom: auto;*/
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;

  &:hover{
    color: #2196f3;
  }
}

.mobile-menu-group {
  margin-bottom: 64px;
}

.mobile-menu-group-btn {
  margin-top: 24px;
}

.mobile-media-list {
   list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 500px;
  width: 100%;

}

.mobile-media-item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 600;
  font-size: 20px;
  line-height: calc(19 / 14);
  // letter-spacing: 0.2em;

  color: #303030;

  // &:not(:last-child) {
  //   margin-bottom: 24px;

    // &::before {
    //   background-color: #303030;
    // }
  // }

  // &::before {
  //   content: '';
  //   display: block;
  //   width: 60px;
  //   height: 1px;

  //   background-color: transparent;
  // }
}

.mobile-media-link {
  color: #2196f3;
}

.border {
  content: '';
  display: block;
  width: 1px;
  height: 22px;
  background-color: black;

}