html {
    scroll-behavior: smooth;
}

body {
	position: relative;
	font-style: normal;
	margin: 0 auto;
    background-color: var(--main-bg-cl);
	color: var(--main-txt-cl);
	font-family: var(--main-font);
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}