.container__team {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;

}

.section.team {
	
    @media screen and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        padding-top: 60px;
        max-width: 767px;
        background-color: var(--third-bg-cl);
    }
    
    @media screen and (min-width: 768px) {
        background-color: var(--third-bg-cl);
        min-width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
       margin-right: auto;
        margin-left: auto;
        min-width: 1200px;
        background-color: var(--third-bg-cl);
    }     
}

.team__list {

    @media screen and (max-width: 767px) {
        display: block;
        
    }
        
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // gap: 30px; 
        justify-content: center; 
    }
        
    @media screen and (min-width: 1200px) {
        display: inline-flex;
       /* flex-wrap: wrap;*/
        gap: 0;
        margin-left: auto;
        justify-content: center;
    }
    &__item:not(:last-child) {
        
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
        
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
    }
}

.team__title {
    @media screen and (max-width: 767px) {
        margin-bottom: 28px;
        text-align: center;
        font-size: 28px;
    }
        
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
        
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: calc( 42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.team__card-title{
	font-weight: 500px;
	font-size: 16px;
	line-height: calc(19/16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--second-txt-cl);
    margin-top: 20px;
}

.team__card-text {
	font-size: 16px;
	line-height: calc(19/16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-txt-cl);
	margin-bottom: 16px;
}

.team {
	padding: 94px 0;
}

.team__title {
	margin-bottom: 50px;
}


.team__item {

    @media screen and (min-width: 480px) {  
        margin-bottom: 30px;
        margin: 15px auto;
        margin-bottom: 30px;
        max-width: 480px;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #fff;
        padding-bottom: 20px;
    }
        
    @media screen and (min-width: 768px) {
        margin-bottom: 0; 
        margin: 15px;
        max-width: 354px; 
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #fff; 
        padding-bottom: 20px;
    }
         
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        max-height: 428px;
        margin: 15px;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #fff;
        padding-bottom: 20px;
    } 
}
        
.team__item:not(:last-child) {
            
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

.team__item img {

    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
        width: 100%;
    }	
}

.team__card-title{
	margin-bottom: 10px;
}

.team__soc-row {
    display: flex;
    align-items: center;
    justify-content:center;
    align-content: center;
    gap: 10px;
}

.team__icon-media {
	width: 44px;
	height: 44px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team__icon-media:hover {
	background-color: #2196F3;
	fill: #FFFFFF;
}

.team__icon-media:hover svg {
	fill: #FFFFFF;
}

.team__inform {
	padding-top: 3px;
	padding-bottom: 3px;
}
